@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

//Text

$sub-heading: hsl(276, 100%, 81%);
$chat-left: hsl(276, 55%, 52%);
$chat-right: hsl(271, 15%, 43%);
$placeholder: hsl(206, 6%, 79%);
$main-heading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

// End of text styles 

// Gradients

$gradient-1: hsl(293, 100%, 63%);
$gradient-2: hsl(264, 100%, 61%);

// End of gradient style

// Secondary

$white: hsl(0, 0%, 100%);
$app-bg: hsl(270, 20%, 96%);
$submit-btn-bg: hsl(271, 36%, 24%);
$radio-btn-outline: hsl(289, 100%, 72%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: $app-bg;
}

.bg {
    position: fixed;
    z-index: -1;
    content: '';
    width: 350px;
    height: 85%;

    &-purple {
        top: 0;
        background: linear-gradient(45deg, $gradient-2, $gradient-1);
        border-radius: 0 0 250px 250px;
    }

    &-gray {
        bottom: 0;
        left: 980px;
        background-color: $placeholder;
        opacity: 0.1;
        border-radius: 300px 250px 0 0;
    }
}