// Mobile : 375px


@mixin media-iPad {
    @media screen and (max-width: 991px) {
        .bg-purple {
            left: -50px;
            top: -100px;
        }

        .bg-gray {
            left: 650px;
            bottom: -200px;
        }

        .phone {
            width: 287px;
            margin-left: 22.5%;
        }

        .introduction {
            left: 590px;
        }
    }
}


@mixin media-tab {
    @media screen and (max-width: 767px) {
        .bg-purple {
            left: -100px;
            top: -150px;
        }
        .bg-gray {
            left: 480px;
            bottom: -190px;
        }

        .phone {
            width: 287px;
            margin-left: 23%;
        }

        .introduction {
            left: 53px;
            bottom: 40px;
            width: 70%;
            text-align: center;

            &-heading {
                margin-top: 100px;
            }
        }
    }
}


@mixin media-mobile {
    @media screen and (max-width:500px) {
        .bg-purple {
            left: -150px;
            top: -150px;
        }
        .bg-gray {
            left: 250px;
            bottom: -190px;
        }

        .phone {
            width: 290px;
        }

        .introduction {
            left: 85px;
            bottom: 40px;
            width: 70%;
            text-align: center;

            &-heading {
                margin-top: 100px;
            }
        }
    }
}